In [4]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\m.fernandez.cruz\documents\pythoncsv\venv\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\m.fernandez.cruz\documents\pythoncsv\venv\lib\site-packages (from pyspark) (0.10.9.5)

WARNING: You are using pip version 21.3.1; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\m.fernandez.cruz\Documents\pythoncsv\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [8]:
import pyspark

In [10]:
import pandas as pd
pd.read_csv("gamers.csv")

  player_name    league
0        Kain      Gold
1      Nelson   Diamond
2        Guti  Platinum

In [12]:
from pyspark.sql import SparkSession

In [15]:
spark=SparkSession.builder.appName('Practica').getOrCreate()

In [16]:
spark

In [17]:
df_pyspark=spark.read.csv('gamers.csv')

In [18]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [19]:
df_pyspark.show()

+-----------+--------+
|        _c0|     _c1|
+-----------+--------+
|player_name|  league|
|       Kain|    Gold|
|     Nelson| Diamond|
|       Guti|Platinum|
+-----------+--------+

In [23]:
spark.read.option('header','true').csv('gamers.csv').show()

+-----------+--------+
|player_name|  league|
+-----------+--------+
|       Kain|    Gold|
|     Nelson| Diamond|
|       Guti|Platinum|
+-----------+--------+

In [22]:
df_pyspark.show()

+-----------+--------+
|        _c0|     _c1|
+-----------+--------+
|player_name|  league|
|       Kain|    Gold|
|     Nelson| Diamond|
|       Guti|Platinum|
+-----------+--------+